<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.CommentReportMapper">
    <insert id="save" parameterType="com.blog.pojo.entity.CommentReport">
        INSERT INTO comment_report (
            comment_id,
            user_id,
            reason,
            description,
            status,
            create_time,
            handle_time,
            handle_by,
            handle_result,
            del_flag
        ) VALUES (
                     #{commentId},
                     #{userId},
                     #{reason},
                     #{description},
                     #{status},
                     #{createTime},
                     #{handleTime},
                     #{handleBy},
                     #{handleResult},
                     #{delFlag}
                 )
    </insert>

</mapper>