<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.CommentMapper">
    <insert id="addComment" parameterType="com.blog.pojo.entity.Comment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment (
            type,
            article_id,
            root_id,
            content,
            to_comment_user_id,
            to_comment_id,
            create_by,
            create_time,
            update_by,
            update_time,
            del_flag
        ) VALUES (
                     #{type},
                     #{articleId},
                     #{rootId},
                     #{content},
                     #{toCommentUserId},
                     #{toCommentId},
                     #{createBy},
                     #{createTime},
                     #{updateBy},
                     #{updateTime},
                     #{delFlag}
                 )
    </insert>
</mapper>