<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.UserMapper">
    <update id="update" parameterType="com.blog.pojo.entity.User">
        UPDATE `sys_user`
        SET
            user_name = #{userName},
            nick_name = #{nickName},
            password = #{password},
            type = #{type},
            status = #{status},
            email = #{email},
            phonenumber = #{phonenumber},
            sex = #{sex},
            avatar = #{avatar},
            create_by = #{createBy},
            create_time = #{createTime},
            update_by = #{updateBy},
            update_time = #{updateTime},
            del_flag = #{delFlag}
        WHERE id = #{id}
    </update>
    <insert id="insert" parameterType="com.blog.pojo.entity.User">
        INSERT INTO `sys_user` (
            id,
            user_name,
            nick_name,
            password,
            type,
            status,
            email,
            phonenumber,
            sex,
            avatar,
            create_by,
            create_time,
            update_by,
            update_time,
            del_flag
        ) VALUES (
                     #{id},
                     #{userName},
                     #{nickName},
                     #{password},
                     #{type},
                     #{status},
                     #{email},
                     #{phonenumber},
                     #{sex},
                     #{avatar},
                     #{createBy},
                     #{createTime},
                     #{updateBy},
                     #{updateTime},
                     #{delFlag}
                 )
    </insert>
    <insert id="insertUser" parameterType="com.blog.pojo.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `sys_user` (
            id,
            user_name,
            nick_name,
            password,
            type,
            status,
            email,
            phonenumber,
            sex,
            avatar,
            create_by,
            create_time,
            update_by,
            update_time,
            del_flag
        ) VALUES (
                     #{id},
                     #{userName},
                     #{nickName},
                     #{password},
                     #{type},
                     #{status},
                     #{email},
                     #{phonenumber},
                     #{sex},
                     #{avatar},
                     #{createBy},
                     #{createTime},
                     #{updateBy},
                     #{updateTime},
                     #{delFlag}
                 )
    </insert>
</mapper>